.ajust-margin {
  margin-top: 60px;
}

.home-component {
  background-image: url(../img/darkBackgroundImage.jpeg);
  opacity: 0.9;
  height: 80vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.zoom-cardImage:hover {
  transform: scale(1.04);
  transition: .4s;
}

.animeLeft {
  transform: translateX(-20px);
  opacity: 0;
  animation: animeLeft 0.3s forwards;
}

@keyframes animeLeft {
  to {
    transform: initial;
    opacity: initial;
  }
}

.icon-size {
  width: 40px;
}

.icon-size2:hover {
  transform: scale(1.06);
  transition: .4s;
}

.ajust-img {
  height: 100%;
  width: 100%;
}