.ajust-margin {
  margin-top: 60px;
}

.home-component {
  background-image: url(../img/backgroundImage2.jpeg);
  opacity: 0.9;
  height: 80vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
